<h1><%=@doctor.name%> has the following patients:</h1>

<ul>
  <% Patient.all.each() do |patient| %>
  <% if patient.doctor_id.to_i==@doctor.id.to_i %>
      <li><%= patient.name() %>, <%= patient.birthday() %></li>
      <% end %>
      <% end %>

</ul>

<h2>Add a new patient below:</h2>

<form action="/patient/new" method="post">
  <input id="doctor_id" name="doctor_id" type="hidden" value="<%= @doctor.id() %>">

  <label for="patient">Patient Name</label>
  <input id="patient" name="patient" type="text">
  <label for="birthday">Patient Birthday</label>
  <input id="birthday" name="birthday" type="text">

  <button type="submit">Add Patient</button>
</form>

<a href='/'>Home</a>
<a href="/doctors">See all your damn doctors!</a>
