<div class="header_div">

<h1>Add a doctor</h1>

</div>


<div class="form_div"

<form action="/doctors/new" method="post">
  <label for="doc">Doctor's Name</label>
  <input id="doc" name="doc" type="text">
  <label for="specialty">Doctor's Specialty</label>
  <input id="specialty" name="specialty" type="text">
  <button class="doctor_button" type="submit">Add</button>
</form>

<br>
</div>
<br>
<div class="link_div">
<a href="/doctors">All Doctors</a>
</div>
