<h1>Welcome to Grey's Anatomy Doctor Office System</h1>
<h2>P.S. - Your favorite character dies in the end.</h2>

<h2>Add a doctor</h2>

<form action="/doctors/new" method="post">
  <label for="doc">Doctors Name</label>
  <input id="doc" name="doc" type="text">
  <label for="specialty">Doctors Specialty</label>
  <input id="specialty" name="specialty" type="text">
  <button type="submit">ADD THAT DOCTORRRRR</button>
</form>

<br>

<a href="/doctors">See all your damn doctors!</a>
